.burger-menu__button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 30;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #2a2a2a;
}
.burger-menu__button:hover .burger-menu__lines {
  filter: brightness(0.7);
}
.burger-menu__lines,
.burger-menu__lines::after,
.burger-menu__lines::before {
  position: absolute;
  width: 20px;
  height: 2px;
  background-color: #fff;
}
.burger-menu__lines {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.burger-menu__lines::before {
  content: "";
  top: -6px;
}
.burger-menu__lines::after {
  content: "";
  top: 6px;
}
.burger-menu_active .burger-menu__lines {
  background-color: transparent;
}
.burger-menu_active .burger-menu__lines::before {
  top: 0;
  transform: rotate(45deg);
}
.burger-menu_active .burger-menu__lines::after {
  top: 0;
  transform: rotate(-45deg);
}
.burger_menu__nav {
  padding-top: 40px;
  position: fixed;
  z-index: 20;
  display: flex;
  flex-flow: column;
  height: 100%;
  background-color: #2a2a2a;
  left: -100%;
}
.burger-menu_active .burger_menu__nav {
  left: 0;
}
.burger-menu__link {
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 5px;
  color: #fff;
}
.burger-menu__link:hover {
  background-color: #4282fa;
}
.title {
  color: #fff;
  padding-left: 20px;
  margin-bottom: 5px;
}
.text-number {
  margin-top: 5px;
  margin-bottom: 35px;
  color: #fff;
  font-size: small;
  padding-left: 20px;
}
.burger-menu__overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}
.burger-menu_active .burger-menu__overlay {
  display: block;
  background-color: rgb(0, 0, 0, 0.5);
}
